@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (max-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (max-width: 850px) { @content; }
  }

  @else if $class == lg {
    @media (max-width: 1024px) { @content; }
  }

  @else if $class == xl {
    @media (max-width: 1390px) { @content; }
  }
}

.main-wrapper{
  width: 100vw;
  height: 100vh;
  background: url("../img/olive-bg.png") no-repeat center center;
  background-size: cover;
  position: relative;
}

.navigation ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 2.7% 8% 2.7% 8%;

  li{
    &:last-of-type{
      letter-spacing: 0.8px;
    }

    a{
      color: $primary;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;

      &:hover{
        color: $secondary;
      }
    }
  }
}

.welcome-wrapper{
  width: 650px;
  padding: 50px 75px 50px 75px;
  background-color: rgba(142, 158, 48, 0.6);
  position: relative;
  top: 4%;
  left: 45%;
  @include breakpoint(xl) {
    width: 500px;
  }
  @include breakpoint(lg) {
    width: 400px;
  }
  @include breakpoint(md) {
    width: 50%;
    margin-left: 0;
  }

  h2{
    color: $white;
    font-weight: 400;
    margin-bottom: 50px;
  }
}

.forma{
  .simple{
    @extend .fc;
    color: #fff;
    background-color: $transparent;
    border: 3px solid $white;
    border-radius: 0px;

    &::-webkit-input-placeholder{
      color: #fff;
    }
    &:-moz-placeholder{
      color: #fff;
    }
  }

  .btn-ghost{
    @extend .btn-cst;
    width: 200px;
    color: $primary;
    font-size: 16px;
    font-weight: 500;
    background-color: $white;
    border-radius: 0px;
  }
}
