.htbg{
  background-color: $white;
}

.navbar-custom{
  background-color: rgba(167, 185, 66, 0.4);

  li a{
    &:hover{
      background-color: $secondary;
    }
  }

  a{
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.6);
    font-size: 16px;
  }
}

.no--br{
  border-radius: 0px;
}

.box-shadow{
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.pc{
  @extend .panel;
  @extend .panel-default;
}

.fc{
  @extend .form-control;
  height: 40px;
  margin-bottom: 15px;
  border: 3px solid $secondary;
  color: #666;

  &::-webkit-input-placeholder{
    color: #666;
  }
  &:-moz-placeholder{
    color: #666;
  }
}

.btn-cst{
  @extend .btn;
  height: 40px;
  color: #fff;
  text-transform: uppercase;
  background-color: $primary;

  &:hover{
    color: #fff;
    background-color: $secondary;
  }
}

.accent{
  color: $secondary;
}

.table-custom{
  @extend .table;
  border: 3px solid $secondary;
  color: #666;

  a{
    color: #666;
    text-decoration: none;

    &:hover{
      color: $secondary;
    }
    &:focus{
      color: $secondary;
    }
  }
}
