// STYLE
.border-none{
  border: 0px;
}

.element-style{
  @extend .list-group;
  padding: 12px;
  background-color: $primary;
  border-radius: 0px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);

  a{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;

    &:hover{
      color: #fff;
      background-color: $transparent;
    }
  }

  .now{
    @extend .active;
    background-color: $secondary !important;
    border-radius: 0px;
  }
}

.list-group-item, .lgi{
   position: relative;
   display: block;
   padding: 15px 15px 8px 15px;
   margin-bottom: -1px;
   background-color: #fff;
}

.bgc-trans{
  border: 0px;
  background-color: $transparent;
}

.lgi{
  @extend .list-group-item;
  @extend .bgc-trans;
}

a.list-group-item:hover, a.lgi:hover, a.list-group-item:focus, a.lgi:focus, button.list-group-item:hover, button.lgi:hover, button.list-group-item:focus, button.lgi:focus{
  background-color: $secondary;
  color: #fff;

  &:focus{
    background-color: $secondary;
  }
}

.indent{
  margin-left: 20px;

  .list-group-item{
    border: 0px;
  }
}
