// IMPORTS
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700,500&subset=latin,latin-ext");
@import "_variables.scss";
@import "_sidebar.scss";
@import "_main.scss";
@import "_landing.scss";

.body{
  font-family: 'Roboto', sans-serif;
  background-image: url("../img/olive1.jpg");
}

.h1--lead{
  margin: 0 0 15px 0;
}
